.body-full-center {
  display: grid;
}

.is-background-v1 {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
}

.is-poke-background {
  background-image: url("../assets/card-background.webp");
  background-size: cover;
}

.z-0 {
  z-index: 0;
}
.z-1 {
  z-index: 1;
}

.is-justify-items-center {
  justify-items: center !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 11px;
}

.float-box.cell {
  border-radius: 11px;
}

.float-box {
  transition: all 0.5s ease-out;
}
.float-box:hover {
  -webkit-box-shadow: 5px 5px 41px 5px rgba(0, 0, 0, 0.73);
  box-shadow: 5px 5px 41px 5px rgba(0, 0, 0, 0.73);
}

.image.is-128x128 img {
  height: 100% !important;
}

.like-box {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  padding: 10px;
}
.like-box .like-icon {
  fill: transparent;
  stroke: black;
}

.liked {
  fill: red !important;
}

.navbar.is-transparent {
  background-color: transparent;
  background-image: none;
}

.is-divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #7a7a7a; /* Color de texto para el contenido del divisor */
  margin: 1.5rem 0; /* Espacio arriba y abajo del divisor */
  border-bottom: 1px solid #dbdbdb; /* Línea de separación */
}

.is-divider::before,
.is-divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #dbdbdb;
}

.is-divider::before {
  margin-right: 0.75em;
}

.is-divider::after {
  margin-left: 0.75em;
}

.back-button {
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: white;
  padding: 10px;
  margin: 10px;
  display: flex;
}

.logo {
  width: auto;
  height: 70px;
  max-height: 70px !important;
}

/**Loader**/

.poke-loader {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffdf6d;
}

.ball {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: white;
  position: relative;
  box-shadow: -20px 0 rgba(0, 0, 0, 0.1) inset;
  animation: roll 1s ease-in-out infinite;
  background: linear-gradient(
    to bottom,
    #e83e35 0%,
    #e83e35 50.5%,
    #ffffff 50.51%,
    #ffffff 100%
  );
}

.ball:after {
  content: "";
  position: absolute;
  top: calc(100px - 3px);
  left: 0;
  width: 200px;
  height: 6px;
  background: #3f3f3f;
}

.ball:before {
  content: "";
  position: absolute;
  top: 67px;
  left: 67px;
  width: 54px;
  height: 54px;
  border: solid 6px #3f3f3f;
  border-radius: 50%;
  background: white;
  z-index: 1;
  box-shadow: 0 0 15px -2px #c62828 inset;
  animation: buttonGlow 3s ease infinite;
}

@-webkit-keyframes roll {
  from {
    transform: rotate(0deg);
  }
  90%,
  to {
    transform: rotate(720deg);
  }
}

@keyframes roll {
  from {
    transform: rotate(0deg); /* Se agregó la unidad 'deg' */
  }
  90%,
  to {
    transform: rotate(720deg);
  }
}

/* Animación de brillo para el círculo central 'buttonGlow' */
@-webkit-keyframes buttonGlow {
  from,
  50%,
  to {
    box-shadow: 0 0 15px -2px #c62828 inset;
  }

  25%,
  75% {
    box-shadow: 0 0 10px -2px #1300ea inset;
  }
}

@keyframes buttonGlow {
  from,
  50%,
  to {
    box-shadow: 0 0 15px -2px #c62828 inset;
  }

  25%,
  75% {
    box-shadow: 0 0 10px -2px #1300ea inset;
  }
}

#map {
  width: 100%;
  height: 800px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input[type=text] {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.dropdown-content {
  max-height: 700px;
  overflow-y: auto;
}

#suggestions {
  position: absolute;
  max-height: 500px;
  overflow-y: auto;
  width: 100%;
  border: 1px solid #ddd;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.suggestion-item {
  border-bottom: 1px solid;
  margin-bottom: 2px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}
